  <div>
    <% if user_signed_in? %> 
      <p> Welcome <%= current_user.name %> </p> 
      <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
    <% end %>
  </div>