.details-content {
  flex-direction: column-reverse;
  margin: 1rem;
  padding: 0.5em;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.632);
}

.details-item {
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  padding: 0.5em;
}

.details {
  justify-content: space-between;
}

.see-details {
  display: none;
}

.back-btn {
  top: 5px;
  right: 1rem;
}

.new-btn {
  width: 100%;
  background-color: var(--secondary-color);
}

.btn-container {
  flex-direction: column;
  position: fixed;
  bottom: 1rem;
  width: 100%;
  justify-content: center;
}

.hamburger-menu {
  display: flex;
}
