.hamburger-menu {
  display: none;
}

.header {
  display: none;
}

.home-badge {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}

.home-img {
  max-width: 20rem;
  width: 100%;
  border-radius: 1rem;
}

.home-title {
  font-size: 2rem;
  filter: drop-shadow(2px 5px 2px var(--secondary-color));
}
