<div>
  <% @group.accounts.each do |account| %>
    <div class="account-item">
      <h4><%= account.name %></h4>
      <p><strong>Amount:</strong> <%= account.ammount %></p>
      <p><strong>Created at:</strong> <%= account.created_at.strftime("%d %b %Y") %></p>
    </div>
  <% end %>
</div>
